<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DXClient.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<userSettings>
        <DXClient.Main.Properties.Settings>
            <setting name="LogicalState" serializeAs="String">
                <value />
            </setting>
            <setting name="VisualState" serializeAs="String">
                <value />
            </setting>
        </DXClient.Main.Properties.Settings>
    </userSettings>
	<connectionStrings>
		<add name="ConnectionERP" providerName="System.Data.SqlClient" connectionString="packet size=4096; data source=SERV72\TAMUZ; persist security info=True; initial catalog=JDB_ERP_1; Integrated Security = SSPI;"/>
	</connectionStrings>
</configuration>